.container{
  display: grid;
  grid-template-columns: 20% 80%;
  
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background: darkblue;
  }

.menu > ul {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  font-size: x-large;
  list-style-type: none;
  max-width: 100%;
  
}

.content{
  padding-top: 65px;
  padding-left: 160px;
  width: 600px;
  
}

ul > li {
  padding-bottom: 15px;
  
  

}

li > ul {
  list-style-type: none;
  padding-top: 15px;
  padding-left: 0px;
}

.content > ul {
  list-style-type: none;
  padding-top: 25px;
  font-size: x-large;
  padding-left: 0;
  
}

.content > ul > li {
  position: relative;
  padding-top: 20px;
  padding-bottom: 45px;
  max-width: 550;
  width: 800px;
  height: 20px;
  word-wrap: break-word;
}

.content > li{
  list-style-type: none;
}

.greyIcon{
  list-style-image: url(img/icon.png);
}

#plus{
  color: darkblue;
  font-size: x-large;
  padding: 3px;
}

#plus:hover{
  background-color: rgb(164, 164, 167);
  max-width: 120px;
}

.arrow {
  border: solid rgb(138, 135, 135);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.selected{
  font-weight: bold;
  
}

.blueIcon{
  list-style-image: url(img/blueicon.png);
}

.content > ul li:hover{
  border: 1px solid #acacac;
  width: 800px;
  .x-class{
    display: block;
  }
  .edit{
    display: block;
  }
}

.x-class{
  display: none;
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 0;
  margin: 0;
  color: red;
  font-size: x-large;
}

.x-class:hover{
  background-color: rgb(164, 164, 167);
}

.edit{
  display: none;
  position: absolute;
  bottom: 0;
  right: 730px;
  padding: 0;
  margin: 0;
  font-size: medium;
}

.edit-icon{
  color: blue;
  padding: 2px;
  font-weight: bolder;
}

.edit-icon:hover{
  background-color: rgb(164, 164, 167);;
}